<div style="background-image:url(assets/bg1.jpg);height: 800px;">
<H1>Weather Report</H1>
  <div class="container margin">
    <br>
    <div class="row">
      <div class="col-md-4" *ngFor="let each of data;let i=index">
        <div class="cardRef">
          <div class="card border-info mb-3card1" [style.background]="'url(/assets/' + data[i].url + ')'" *ngIf="data[i].cardValid && data[i].cardValid!=undefined">
            <br>
            <div class="row">
              <div class="col-md-7">
                <h4>{{data[i].weatherDate.weather[0].main}}</h4>
              </div>
              <div class="col-md-5">
                <h5 class="font">{{data[i].weatherDate.main.temp}}<span>°</span></h5>
              </div>
            </div>
            <hr>
            <div class="card-body">
              <div class="row">
                <ul class="list-inline">
                  <li class="list-inline-item">
                    <div class="humi"><img src="assets/3.png" style="width:25px">{{data[i].weatherDate.main.humidity}}<span>°</span></div>
                  </li>
                  <li class="list-inline-item">
                    <div class="humi1"><img src="assets/2.png" style="width:25px">{{data[i].weatherDate.clouds.all}}<span>°</span></div>
                  </li>
                  <li class="list-inline-item">
                    <div class="humi2"><img src="assets/1.png" style="width:25px">{{data[i].weatherDate.main.temp_max}}<span>°</span></div>
                  </li>
                  <li class="list-inline-item" style="padding-left: 55px;" (click)="edit(i)">
                    Edit
                  </li>
                </ul>
              </div>
              <div class="row">
                <ul class="list-inline">
                  <li class="list-inline-item">
                   {{data[i].weatherDate.name}} 
                  </li>

                </ul>
              </div>
            </div>
          </div>
          <div class="card border-info mb-3card1" *ngIf="!data[i].cardValid && data[i].cardValid!=undefined">
            <br>
            <div class="row">
              <div class="col-md-4">
                <h6>City Name</h6>
              </div>
              <div class="col-md-7">
                <input type="text" class="form-control" [(ngModel)]="data[i].city">
              </div>
              <div class="col-md-1">
              </div>
            </div>
            <hr>
            <div class="card-body">
              <div class="row">
                <div class="col-md-8" [hidden]="data[i].msgValid">
                  <p style="color: darkred">{{data[i].msg}}</p>
                </div>
                <div class="col-md-4">
                  <button class="btn btn-success btn-sm" (click)="getWeather(data[i].city,i)">Click</button>
                </div>
              </div>
            </div>

          </div>
          <div class="card border-info mb-3card1" (click)="data[i].cardValid=false;" *ngIf="!data[i].cardValid && data[i].cardValid==undefined">
            <br>
            <div class="row">
              <div class="col-md-12">
                <p>&nbsp;&nbsp;&nbsp; Click Here To Get Weather Details...</p>
              </div>
              
            </div>
            <div class="card-body">
              <br><br><br>

            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>